<div id="toolbox">
  <h3>IP Address Tracker</h3>
  <mat-form-field class="search-input">
    <input #search matInput placeholder="Search for any IP address" (change)="updateSearch($event)">
    @if (search.value) {
      <button mat-icon-button matSuffix color="primary" (click)="updateSearch();search.value = ''">
        <mat-icon>delete</mat-icon>
      </button>
    }
    <button mat-icon-button matSuffix color="primary">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <mat-card class="info-box">
    <mat-card-content>
      @if (ipInfo && !ipInfo().error) {
        <section>
          <span>{{ 'ip address' | uppercase }}</span>
          <span>{{ ipInfo().ip }}</span>
        </section>
        <mat-divider vertical="true"></mat-divider>
        <section>
          <span>{{ 'location' | uppercase }}</span>
          <span>
            {{ ipInfo().city }},
            {{ ipInfo().region_code }}
          </span>
        </section>
        <mat-divider vertical="true"></mat-divider>
        <section>
          <span>{{ 'timezone' | uppercase }}</span>
          <span>{{ ipInfo().timezone }}</span>
        </section>
        <mat-divider vertical="true"></mat-divider>
        <section>
          <span>{{ 'isp' | uppercase }}</span>
          <span>{{ ipInfo().org }}</span>
        </section>
      }
      @else if (ipInfo && ipInfo().error) {
        {{ ipInfo().reason }}
      }

      @else {
        No Data
      }
    </mat-card-content>
  </mat-card>
</div>
